/**************************
		 General
**************************/
body {
	color: #6a6a6a;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
img {
	width: 100%;
}
a:hover {
	text-decoration: none;
}
textarea {
    resize: none;
    border-radius: 0 !important;
}
input {
	border-radius: 0 !important;
	margin-bottom: 10px;
	margin-top: 0 !important;
}
.row{
	margin: 0 !important;
	padding: 0 !important;
}
.titulo {
	font-size: 55px;
	margin: 0;
	text-transform: uppercase;
}
.tituloSecundario {
	margin: 0;
	text-transform: uppercase;
	font-weight: 300;
}
.margenesBloques {
	padding-top: 50px;
	padding-bottom: 50px;
}
.margenesBloquesSmall {
	padding-top: 30px;
	padding-bottom: 30px;
}
.margenesBloquesHorizontal {
	padding-left: 15%;
	padding-right: 15%;
}
.buttonBigContenedor {
	margin-top: 30px;
}
.buttonBig {
	text-transform: uppercase;
	border: 2px solid #00aaef;
	border-radius: 5px;
	font-size: 17px;
	color: #00aaef;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.buttonBig:hover {
	color: #6a6a6a;
	border-color: #6a6a6a;
}
.buttonSmallContenedor {
	margin-top: 30px;
}
.buttonSmall {
	text-transform: uppercase;
	border: 1px solid #00aaef;
	border-radius: 3px;
	font-size: 12px;
	color: #00aaef;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
}
.buttonSmall:hover {
	color: #6a6a6a;
	border-color: #6a6a6a;
}
.BGGrey {
	background: #f9f9f9;
}
.BGWhite {
	background: #FFFFFF;
}
.tituloVerde {
	background: #4e8b3c;
	color: #FFFFFF;
}
.tituloAzul {
	background: #019ff3;
	color: #FFFFFF;
}
/**************************
		 Navbar
**************************/
.navbar {
	border: none;
	border-radius: 0px;
	min-height: 126px !important;
}
.logoContenedor {
	margin-left: 10px;
	width: 205px;
	max-height: 205px;
}
.navbar-right{
	margin-top: 49px;
} 
.navbar-right a{
	font-weight: 500;
	color: #6a6a6a;
	text-transform: uppercase;
}
.nav>li>a {
	border-bottom: 2px solid #FFFFFF;
}
.nav>li>a:hover {
	background: transparent;
	border-bottom: 2px solid #d8d8d8;
}
.navbar-toggle {
	margin-top: 47px;
	width: 58px;
	height: 52px;
	background: #0a7aba;
}
.navbar-toggle span{
	background: #FFFFFF;
}
.navbar-toggle .icon-bar {
	width: 100%;
	height: 4px;
	border-radius: 4px;
}
/**************************
		 Slider
**************************/
.carousel-inner {
	height: 400px;
	width: 100%;
    overflow: hidden;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
	border: 2px solid;
	border-color: #FFFFFF;
	border-radius: 100%;
}
.carousel-indicators .active{
	width: 10px;
	height: 10px;
	border: 2px solid;
	border-color: #FFFFFF;
	border-radius: 100%;
}

/**************************
		 Servicios
**************************/
.servicios {
	background: #00aaef;
	color: #FFFFFF;
}
.servicios img {
	max-width: 180px;
	margin: 0 auto;
	padding: 20px;
}
.servicios p {
	max-height: 59px;
	overflow: hidden;
}
.servicios h1 {
	margin-bottom: 30px;
}
.servicios h4 {
	text-transform: uppercase;
	margin-top: 30px;
}
/**************************
		 Actividades
**************************/
.actividades .col-xs-12,
.actividades .col-sm-6, 
.actividades .col-sm-12,
.actividades .col-md-6, 
.actividades .col-lg-6 {
	padding: 0;
}
.actividadesTextContenedor {
	margin-top: 3%;
}
.actividadesText {
	width: 60%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.actividades h3 {
	margin-top: 10px;
	font-weight: 300;
	letter-spacing: 1px;
}
.actividades span {
	background: #00a9f0;
	color: #FFFFFF;
	font-size: 13px;
	padding: 5px;
	border-radius: 100%;
	margin:0 auto;
	margin-right: 8px;
}
/**************************
		Noticias
**************************/
.noticiasTitulos {
	margin-left: 10%;
}
.noticas h3{
	margin-top: 10px;
}
.noticiasText {
	padding: 6%;
}
.noticiasText h4 {
	margin-bottom: 25px;
	text-transform: uppercase;
	line-height: 24px;
	max-height: 48px;
	overflow: hidden;
}
.noticiasText p {
	max-height: 80px;
	overflow: hidden;
}
/**************************
		  footer
**************************/
footer {
	color: #FFFFFF;
	background: #00acbf;
	font-weight: 300;
}
footer h1 {
	text-transform: uppercase;
	font-weight: 300;
}
.footerDatos {
	margin-top: 30px;
}
footer img {
	max-width: 35px !important;
	min-width: 35px !important;
	margin: 0 auto;
}
footer img:hover {
	opacity: .7;
}
.creditos {
	padding-top: 15px;
	padding-bottom: 15px;
}
.creditos h5 {
	font-weight: 300;
}
.creditos span {
	font-weight: 500;
}














/****************************************************
		  			   Pages
****************************************************/

/****************************************************
        Pages Actividades / Nauticas / Outdoor
****************************************************/
.pagesHeader {
	width: 100%;
	height: 500px;
	background: url(../img/pages_header_actividades.jpeg) no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.pagesHeaderTitulo {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 70px;
	text-shadow: -3px 3px 5px #454545;
}
.contenedorVerdeAzul {
	background: #00acbf;
	color: #FFFFFF;
}
.contenedorVerdeAzul p{
	margin-top: 30px;
}
.actividadesTablas thead{
	background: #d5d5d5;
}
.pagesDetalleGolf h4 {
	margin: 20px;
}
.pagesDetalleGolf p {
	height: 60px;
	overflow: hidden;
} 
.pagesDetalleGolf button {
	margin-top: 10px;
} 
.pagesDetalleGolf img{
	max-width: 265px;
	margin: 0 auto;
}

.pagesDetalleGolfContenedor {
	margin: 0 auto; 
}
.pagesDetalleGolfContenido {
	float: left;
	/*width: 250px;
	padding: 10px;*/
	margin: 0 auto;
	padding: 10px;
}
/*Actividades Nauticas*/
.contenedorAzul {
	background: #019ff3;
	color: #FFFFFF;
}
.contenedorAzul p{
	margin-top: 30px;
}
/*Actividades Outdoor*/
.contenedorVerde {
	background: #4a8029;
	color: #FFFFFF;
}
.contenedorVerde p{
	margin-top: 30px;
}

/****************************************************
		  			  Contacto
****************************************************/
.contacto span{
	margin-left: -24px;
	margin-right: 10px;
}
.contactoInfo {
	padding-left: 34px;
}
/****************************************************
		  			Inmobiliaria
****************************************************/
.buttonSimular {
	text-transform: uppercase;
	color: #FFFFFF;
	background: #019ff3;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 20px;
	width: 100%;
	max-width: 300px;
}
.buttonSimular:hover {
	background: #017eae;
}
.simulador h3 {
	padding-top: 1.5%;
}
.simuladorMargenes {
	margin-top: 15px;
	margin-bottom: 15px;
}
.inmobiliariaDetalleContenido p{
	margin-top: 3%;
	margin-bottom: 3%;
}
.inmobiliariaDetalle {
	padding-bottom: 30px;
}

/*******************************
	 Inmobiliaria Animation
*******************************/
.inmobiliariaAnimation {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin-left: -100%;
	-moz-transition: all .8s ease-out;  /* FF4+ */
    -o-transition: all .8s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all .8s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all .8s ease-out;  /* IE10 */
    transition: all .8s ease-out;  
}
.inmobiliariaAnimationAction {
	margin-left: 0%;
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;  
}
.inmobiliariaImgDetalle{
	position: relative;
	z-index: -1;
	overflow: hidden;
} 
.inmobiliariaAnimationBG{
	position: absolute;
	top:0;
	left: -35%;
	width: 100%;
	height: 170%;
	background: #019ff3;
	transform: rotate(70deg) scale(1) skew(-2deg) translate(0px);
	-webkit-transform: rotate(70deg) scale(1) skew(-2deg) translate(0px);
	-moz-transform: rotate(70deg) scale(1) skew(-2deg) translate(0px);
	-o-transform: rotate(70deg) scale(1) skew(-2deg) translate(0px);
	-ms-transform: rotate(70deg) scale(1) skew(-2deg) translate(0px);
}
.inmobiliariaAnimationDetalle {
	position: absolute;
	top:0;
	left: 0%;
	width: 41%;
	height: 92%;
	color: #FFFFFF;
	overflow: hidden;
	margin: 10px;
	margin-top: 20px;
}
.inmobiliariaAnimationDetalle img{
	max-width: 50%;
}
.inmobiliariaAnimationDetalle h3{
	text-transform: uppercase;
	margin-top: 10%;
}
.inmobiliariaAnimationDetalle p {
	margin-top: 10%;
}
.inmobiliariaDetalleImg {
	float: left;
	position: relative;
	display: block;
	box-sizing: border-box;
}

.inmobiliariaAnimationRight {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin-left: 100%;
	-moz-transition: all .8s ease-out;  
    -o-transition: all .8s ease-out;  
    -webkit-transition: all .8s ease-out;  
    -ms-transition: all .8s ease-out; 
    transition: all .8s ease-out; 
}
.inmobiliariaAnimationActionRight {
	margin-left: 0%;
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;  
}
.inmobiliariaAnimationBGRight{
	position: absolute;
	top: -20px;
	right: -35%;
	width: 100%;
	height: 170%;
	background: #019ff3;
	transform: rotate(110deg) scale(1) skew(-2deg) translate(0px);
	-webkit-transform: rotate(110deg) scale(1) skew(-2deg) translate(0px);
	-moz-transform: rotate(110deg) scale(1) skew(-2deg) translate(0px);
	-o-transform: rotate(110deg) scale(1) skew(-2deg) translate(0px);
	-ms-transform: rotate(110deg) scale(1) skew(-2deg) translate(0px);
}
.inmobiliariaAnimationDetalleRight {
	position: absolute;
	top:0;
	right: 0;
	width: 41%;
	height: 92%;
	color: #FFFFFF;
	overflow: hidden;
	margin: 10px;
	margin-top: 20px;
}
.inmobiliariaAnimationDetalleRight img{
	max-width: 50%;
	margin-left: 50%;
	right: 0;
}
.inmobiliariaAnimationDetalleRight h3{
	text-transform: uppercase;
	margin-top: 10%;
}
.inmobiliariaAnimationDetalleRight p {
	margin-top: 10%;
}



/*******************************
	 		Nosotros
*******************************/
.nosotrosObjetivosContenedor p{
	margin-top: 40px;
	padding-left: 5%;
	padding-right: 5%;
}
.nosotrosObjetivosContenedor .col-lg-6 {
	padding-left: 0 !important;
}
.nosotrosEquipoContenido h5{
	margin: 20px;
}
/*******************************
	 		Eventos
*******************************/
.nosotrosOfrecemos span {
	margin-right: 10px;
	color: #009ff3;
} 
.nosotrosOfrecemos h1{
	text-transform: uppercase;
	margin-bottom: 11%;
}
.nosotrosOfrecemos h4{
	margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
}
/*******************************
	 		Noticias
*******************************/ 
.blogPost h3 {
     color: #3a3a3a;
     margin-bottom: 30px;
     margin-top: 30px;
}
.blogCompartir img{
     max-width: 30px;
     min-width: 30px;
}
.blogInfo {
     margin-top: 20px;
     border-color: #f7f7f7;
     border-left: 2px solid;
     border-right: 2px solid;
}
.blogInfo span{
     margin-right: 10px;
}
.blogPost a {
     color: #6b6b6b;
} 
.blogPost a:hover {
     color: #171717;
} 
.blogBar h4{
	margin-bottom: 10px;
}

.blog .col-xs-12,
.blog .col-sm-6, 
.blog .col-md-6, 
.blog .col-lg-3 {
     padding: 0;
}
.blogColor1 {
     background: #eeeeee;
}
.blogColor2 {
     background: #FFFFFF;
}
.blogButtonLeerMas{
     color: #333333;
     cursor: pointer;
     border-bottom: 1px solid;
     width: 41px;
}
.blogButtonLeerMas:hover {
     color: #6a6a6a;
}
.blogContenedorText {
     padding: 20px;
}
.blogContenedorContent {
     height: 140px;
     overflow: hidden;
}


/*******************************
    Departamentos 
*******************************/ 
.departamentos span {
	margin-right: 10px;
	color: #009ff3;
} 
.departamentos h1{
	text-transform: uppercase;
	margin-bottom: 3%;
}
.departamentos h4{
	margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
}
#dptosSegundoTitulo {
	margin-top: 5%;
}

/*******************************
          Master plan
*******************************/ 
.masterPlan span {
	margin-right: 10px;
	color: #009ff3;
} 
.masterPlan h4{
	margin-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
}
#masterPlanItems {
	margin-top: 50px;
}
.masterPlan h5{
	color: #000000;
	margin-bottom: 20px;
	margin-top: 50px;
}



/**************************
		 Responsive
**************************/
@media screen and (max-width: 1230px) {
	/*Header comprimir antes*/
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-collapse.collapse.in{
		display:block !important;
	}
	.navbar-right {
		width: 100%
	}
}
@media screen and (max-width: 1199px) {
	.actividadesText {
		width: 80%;
	}
	.reorder {
		display: flex;
		flex-flow: row wrap;
	}
	.reorderText {
		order: 2;
		background: #FFFFFF;
	}
	.reorderImg{
		order: 1;
	}
	.nosotrosEquipoContenido p{
		max-height: 60px;
		overflow: hidden;
	} 
}
@media screen and (max-width: 991px) {
	.carousel-inner {
		height: 380px;
	}
	.logoContenedor {
		margin-left: 0px;
	}
	.actividadesTablas .col-xs-12, 
	.actividadesTablas .col-sm-12{
		padding-left: 0;
		padding-right: 0;
	}
	.form-group .col-xs-12 {
		margin: 0 !important;
		padding: 0 !important;
	}
	.contactoInfo {
		display: none;
	}
	.inmobiliariaDetalleImg img, .inmobiliariaImgDetalle{
		max-width: 500px;
		margin: 0 auto;
	}
	.inmobiliariaDetalleContenedorRight {
		display: flex;
		flex-direction: column;
	}
	.inmobiliariaDetalleContenido {
		order: 2;
	}
	.inmobiliariaDetalleImg {
		order: 1;
	}
	.inmobiliariaAnimationDetalle img{
		display: none;
	}
	.inmobiliariaAnimationDetalleRight img{
		display: none;
	}
	.inmobiliariaAnimationDetalle h3{
		margin-top: 21%;
	}
	.inmobiliariaAnimationDetalleRight h3{
		margin-top: 21%;
	}
	.nosotrosObjetivosContenedor img {
		max-width: 400px;
		margin: 0 auto;
	}
	.nosotrosObjetivosContenedor .col-lg-6 {
		padding: 30px;
		padding-right: 0 !important;
	}
	.nosotrosObjetivosContenedorLeft {
		display: flex;
		flex-flow: row wrap;
	}
	.nosotrosObjetivosContenedorLeftText {
		order: 2;
	}
	.nosotrosObjetivosContenedorLeftImg {
		order: 1;
	}
	.nosotrosEquipoContenido img{
		max-width: 400px;
		margin: 0 auto;
	}
	.nosotrosEquipoContenido p{
		padding-left: 5%;
		padding-right: 5%;
	}
	.nosotrosEquipoContenidoLeft {
		display: flex;
		flex-flow: row wrap;
	}
	.nosotrosEquipoContenidoLeftImg {
		order: 1;
	}
	.nosotrosEquipoContenidoLeftText {
		order: 2;
	}
	.nosotrosEquipoContenido {
		padding-top: 30px;
	}
	.blogBar {
		margin-top: 30px;
	}
	.departamentos img{
		max-width: 500px;
		margin: 0 auto;
		padding-top: 50px;
	}
	.pagesHeader{
		height: 400px;
	}
	.pagesHeaderTitulo {
		font-size: 60px;
	}

}
@media screen and (max-width: 767px) {
	.titulo{
		font-size: 40px;
	}
	.margenesBloquesHorizontal {
		padding-left: 6%;
		padding-right: 6%;
	}
	.servicios h1{
		margin-bottom: 5px;
	}
	.carousel-inner {
		height: 340px;
	}
	.navbar {
		min-height: 89px !important;
	}
	.logoContenedor {
		width: 150px;
	}
	.navbar-toggle {
		margin-top: 33px;
		width: 50px;
		height: 44px;
	}
	.pagesDetalleGolf button {
		margin-bottom: 30px;
	} 
	.actividadesTablas {
		display: none;
	}
	.pagesHeaderTitulo {
		font-size: 40px;
	}
	.inmobiliariaAnimationDetalle h3{
		margin-top: 45%;
		font-size: 22px;
	}
	.inmobiliariaAnimationDetalle p {
		display: none;
	}
	.inmobiliariaAnimationDetalleRight h3{
		margin-top: 45%;
		font-size: 22px;
	}
	.inmobiliariaAnimationDetalleRight p {
		display: none;
	}
	.pagesHeader{
		height: 300px;
	}
}
@media screen and (max-width: 520px) { 
	.inmobiliariaAnimationDetalle h3{
		margin-top: 40%;
		font-size: 14px;
	}
	.inmobiliariaAnimationDetalleRight h3{
		margin-top: 40%;
		font-size: 14px;
	}
}
@media screen and (max-width: 400px) {
	.actividadesText {
		width: 98%;
	}
}
@media screen and (min-width: 1550px) {
	.carousel-inner {
		height: 450px;
	}

}















